<settings>

    <mirrors>
        <!--aliyun用来拉镜像-->
        <mirror>
            <id>alimaven</id>
            <name>aliyun maven</name>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>

        <!--local用来发布本地镜像-->
        <mirror>
            <id>local-repository</id>
            <name>local-repository</name>
            <url>http://localhost:9081/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>

    </mirrors>

    <profiles>
        <profile>
            <id>local-nexus-repo</id>
            <repositories>
                <repository>
                    <id>local-repository-releases</id>
                    <url>http://localhost:9081/repository/maven-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>local-repository-snapshots</id>
                    <url>http://localhost:9081/repository/maven-snapshots/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>local-repository-releases</id>
                    <url>http://localhost:9081/repository/maven-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>local-repository-snapshots</id>
                    <url>http://localhost:9081/repository/maven-snapshots/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>

            <properties>
                <releases.id>local-repository-releases</releases.id>
                <releases.name>local-repository-releases</releases.name>
                <releases.url>http://localhost:9081/repository/maven-releases/</releases.url>
                <snapshots.id>local-repository-snapshots</snapshots.id>
                <snapshots.name>local-repository-snapshots</snapshots.name>
                <snapshots.url>http://localhost:9081/repository/maven-snapshots/</snapshots.url>
                <docker.image.prefix>localhost:5000</docker.image.prefix>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>local-nexus-repo</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>local-repository</id>
            <username>admin</username>
            <password>admin</password>
        </server>
        <server>
            <id>local-repository-releases</id>
            <username>admin</username>
            <password>admin</password>
        </server>
        <server>
            <id>local-repository-snapshots</id>
            <username>admin</username>
            <password>admin</password>
        </server>
    </servers>

</settings>
